<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    
    <properties>
        <property name="package_name_war">py.com.sigo</property>
        <property name="name">shopping</property>
        <property name="log_dir">/opt/sigoPro</property>
        
        <property name="pattern">%-5p [%d] [%t] (%M [%C:%L]) - %m%n</property>
        <property name="pattern_timing">%-5p;%d;%t;%C.%M;%m%n</property>
    </properties>
    
    <CustomLevels>
        <CustomLevel name="TIMING" intLevel="450" />
    </CustomLevels>
    
    <Appenders>
        
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>
        
        <RollingFile name="ROLLING_FILE_WAR" 
                     fileName="${log_dir}/${name}.log" 
                     filePattern="${log_dir}/${name}-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <pattern>${pattern}</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
        
    </Appenders>
    <Loggers>
        
        <Root level="INFO">
            <AppenderRef ref="CONSOLE"/>
        </Root>
        
        <Logger name="${package_name_war}" level="TRACE" additivity="false">
            <AppenderRef ref="ROLLING_FILE_WAR"/>
            
            
            <AppenderRef ref="CONSOLE" level="DEBUG"/>
        
        
        </Logger>
    </Loggers>
</Configuration>